:root {
  --background: #D3D3D3;
  --background2: #FFFFFF;
  --link-font-color: #357B70;
  --button1: #357b70;
  --button2: #e0b354;
  --button-cv-hover: #BCB1FD;
  --font-button-color: #FFFFFF;
  --font-size: 16px;
  --font-weight: 400;
}


* {
  box-sizing: border-box;
}

/* Header */

.page-header {
  display: flex;
  width: 100%;
  background-color: var(--background2);
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.logo {
  flex: 1 1 auto;
  margin: 0 10px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: auto;
  max-width: 90%;
  max-height: 100%;
}


.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  position: relative;
}

html, body,


.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1.6;
}

body {
  padding-top: 120px;
  padding-bottom: 120px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}


a {
  color: var(--link-font-color);
}


p {
  margin-bottom: 1em;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__text {
  flex: 1 1 100px;
  text-align: center;
}

.about-me {
  margin: auto 20px;
  text-align: center;
  padding-bottom: 120px;
}

.about-me__table {
  margin: 0 auto;
}


.contact-me {
  width: 50%;
  padding: 20px;
  margin: 5% auto;
}

/* Hyperlink style
 */

a:visited {
  /* visited link */
  color: var(--link-font-color);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--link-font-color);
}


button, .button-home-page {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button1);
  color: var(--font-button-color) !important;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.9s;
  transition-property: opacity;
  /* it is also possible to include all the properties in the same lina, i.e. "transition: 0.2s opacity;" */
}

button:hover, button:focus, .button-home-page:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  border: none;
  font-family: inherit;
  background-color: var(--button2);
  color: var(--font-button-color) !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c;
  transition: 0.4s background-color, 0.4s
}

.button-about-me {
  border: none;
  font-family: inherit;
  background-color: var(--button1);
  color: var(--font-button-color) !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c;
  transition: 0.4s background-color, 0.4s
}

.button-cv:hover {
  background-color: var(--button-cv-hover);
}

.container {
  font-family: 'Lato', sans-serif;
  font-size: var(--font-size);
  padding: 30px;
}



/* Grid */

/* start grid fallback 
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
  }
*/

.work-content {
  text-align: center;

}

.grid-work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0 40px;
}

.grid-work__item {
  background-color: var(--background2);
  padding:20px 10px;
  text-align: center;
}

/* end grid fallback */



/* Animations */

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Footer */

.page-footer {
  clear: both;
  display: inline-block;
  text-align: center;
  font-size: var(--font-size);
  background-color: var(--background2);
  padding-bottom: 20px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

/* shared code start */ 
@media all and (max-width: 1450px) {
  .grid-work {
    grid-gap: 10px;
  }
 
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  .project-link {
    display: inline-block;
  }
  svg {
    width: 90%;
  }
}
/* shared code end */

/* Smartphones */
@media all and (max-width: 499px) {
  .grid-work {
    grid-template-columns: 1fr;
    margin: 10px;
    padding-bottom: 120px;
  }
  .profile__text {
    clear: both;
  }


  .profile {
    float: none;
    padding-top: 90px;
    padding-bottom: 125px;
    text-align: center;
  }

  .profile__portrait {
    float: none;
    margin: auto;
  }

  .page-header img {
    width: 20%;
    height: auto;
    align-self: center;
  }

  .contact-me {
    padding-bottom: 120px;
    float: none;
  }

  .about-me {
    padding-top: 85px;
    padding-bottom: 85px;
  }

}

/* Tablets */
@media all and (min-width: 500px) and (max-width: 770px) {
  .grid-work {
    grid-template-columns: 1fr 1fr;
  }
 
  .profile {
    float: none;
    padding-top: 90px;
    padding-bottom: 125px;
    text-align: center;
  }

  .profile__portrait {
    float: none;
    margin: auto;
  }

  .page-header img {
    width: 20%;
    height: auto;
    align-self: center;
  }

  .contact-me {
    padding-bottom: 120px;
    float: none;
  }
}

/* Tablets PRO */
@media all and (min-width: 500px) and (max-width: 1025px) {
  .grid-work {
    grid-template-columns: 1fr 1fr;
  }
  
  .profile {
    float: none;
    padding-top: 90px;
    padding-bottom: 125px;
    text-align: center;
  }

  .profile__portrait {
    float: none;
    margin: auto;
  }

  .page-header img {
    width: 20%;
    height: auto;
    align-self: center;
  }
}


/* smaller Laptops */
@media all and (min-width: 768px) and (max-width: 1279px) {
  .grid-work {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* bigger Laptops */
@media all and (min-width: 1280px)  {
  .grid-work {
    grid-template-columns: 1fr 1fr 1fr;
  }
}